@media (max-width: 768px) {
  .menu_container {
    max-width: 768px;
  }
  .banner {
    height: 367.57px;
    margin-bottom: 19.95px;
  }
  .banner_container {
    height: 367.57px;
  }
  .banner_top {
    font-size: 44px;
    line-height: 53px;
  }
  .banner_bottom {
    font-size: 24px;
    line-height: 29px;
  }
  .banner_text {
    padding-top: 138px;
    padding-left: 67px;
  }
  .banner_left {
    background-size: cover;
  }
  .banner_text::before {
    top: 138px;
    left: 45px;
  }
  .categories {
    max-width: 768px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .categories_box {
    width: 100%;
    max-width: 230px;
    min-height: 168px;
    margin: 0 18px 18px 0;
  }
  .categories_box:nth-child(3) {
    margin: 0 0 18px 0;
  }
  .categories_box:last-child {
    width: 100%;
    min-height: 116px;
    max-width: 768px;
    margin: 0 0 155px;
  }
  .card_block {
    max-width: 768px;
  }
  .card_block_product {
    max-width: 768px;
  }
  .card {
    margin-bottom: 15px;
  }
  .card_button_block {
    margin-top: 18px;
    margin-bottom: 65px;
  }
  .privileges_container {
    max-width: 768px;
    margin-bottom: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .privilege {
    margin: 48px 0 0 0;
  }
  .subscribe_container {
    max-width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe {
    background-position: 23%;
  }
  .subscribe_left_avatar {
    margin-top: 54px;
  }
  .subscribe_right_block_title {
    margin-top: 48px;
  }
  .subscribe_right {
    margin-bottom: 140px;
  }
  .copyright_container {
    max-width: 768px;
  }
  .title {
    max-width: 768px;
  }
  .filter {
    max-width: 768px;
    min-height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .margin_right {
    margin: 0;
  }
  .card_none {
    display: none;
  }
  .pagination {
    margin-top: 25.5px;
    margin-bottom: 63.5px;
  }
  .foto_img {
    max-width: 80%;
    height: 80%;
  }
  .foto_container {
    padding-bottom: 29px;
    padding-top: 29px;
    height: 624px;
  }
  .description {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .cart {
    margin-top: 59px;
    margin-bottom: 147px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart_button {
    margin-top: 62px;
    margin-bottom: 64.5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cart_button_btn:first-child {
    margin-right: 49px;
  }
  .cart_right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart_right_checkout {
    margin-top: 39px;
  }
  .cart_right_form {
    margin-right: 15px;
  }
  .registration_title {
    font-size: 16px;
    line-height: 19px;
  }
  .registration_subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-top: 32px;
    margin-bottom: 22px;
  }
  .registration_list {
    font-size: 16px;
    line-height: 19px;
  }
  .registration_list li {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 1110px) {
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 128.5px;
  }
  .cart_right {
    width: 96%;
    max-width: 96%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cart_right_checkout {
    margin-top: 39px;
  }
  .cart_right_form {
    margin-right: 13px;
  }
}

@media (max-width: 750px) {
  .card_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cart_right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .banner_left {
    width: 0%;
    background-image: none;
  }
  .banner_right {
    width: 100%;
  }
  .card_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cart_item_description_title {
    font-size: 16px;
    line-height: 19px;
  }
  .cart_item_description_subtitle {
    font-size: 14px;
    line-height: 17px;
  }
  .cart_item img {
    max-width: 180px;
  }
  .registration_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100.24px;
  }
  .registration_form {
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .menu_container {
    max-width: 375px;
  }
  .banner_left {
    width: 0%;
    background-image: none;
  }
  .banner_right {
    width: 100%;
  }
  .page_right_lk {
    display: none;
  }
  .page_right_basket {
    display: none;
  }
  .banner {
    height: 367.57px;
    margin-bottom: 64px;
  }
  .banner_top {
    font-size: 38px;
    line-height: 46px;
  }
  .banner_bottom {
    font-size: 20px;
    line-height: 24px;
  }
  .banner_text {
    padding-top: 148px;
    left: 83px;
  }
  .banner_text::before {
    top: 155px;
    height: 61px;
  }
  .categories {
    max-width: 375px;
    margin: 0 auto;
  }
  .categories_box {
    max-width: 375px;
    min-height: 247px;
    margin: 0 0 32px 0;
  }
  .categories_box:nth-child(3) {
    margin: 0 0 32px 0;
  }
  .categories_box:last-child {
    min-height: 111px;
    width: 100%;
    max-width: 375px;
    margin: 0 0 64px;
  }
  .card_block {
    max-width: 375px;
  }
  .card {
    margin-bottom: 16.61px;
  }
  .card_button_block {
    margin-top: 25px;
    margin-bottom: 96.5px;
  }
  .privileges_container {
    max-width: 375px;
    margin-bottom: 81px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .privilege {
    margin: 48px 0 0 0;
  }
  .subscribe_container {
    max-width: 375px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe_left_avatar {
    margin-top: 54px;
  }
  .subscribe_right_block_title {
    margin-top: 59px;
  }
  .subscribe_right {
    margin-bottom: 110px;
  }
  .subscribe_right_form {
    width: 100%;
  }
  .subscribe_right_form_email {
    width: 72%;
  }
  .subscribe_right_form_button {
    width: 28%;
  }
  .copyright_container {
    max-width: 375px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
  .copyright_left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 40px auto 0;
  }
  .copyright_right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
  }
  .title {
    max-width: 375px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title_left {
    margin-top: 24px;
  }
  .title_left1 {
    margin-top: 50px;
  }
  .title_right {
    margin-bottom: 46px;
  }
  .filter {
    max-width: 375px;
    margin: 0 auto;
    min-height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter_btn > span {
    display: none;
  }
  .filter_btn > svg {
    width: 37px;
    height: 25px;
    margin-left: 0;
  }
  .filter_center_text {
    font-size: 12px;
    line-height: 14px;
  }
  .filter_center_size_button > span {
    font-size: 12px;
    line-height: 14px;
  }
  .margin_right {
    margin: 0;
  }
  .card_none {
    display: none;
  }
  .pagination {
    margin-top: 40.5px;
    margin-bottom: 64.5px;
  }
  .foto_container {
    padding-bottom: 85px;
    padding-top: 85px;
    height: 454px;
  }
  .foto_img {
    width: 100%;
    height: 100%;
  }
  .foto_bg_left {
    position: absolute;
    left: 0;
  }
  .foto_bg_right {
    position: absolute;
    right: 0;
  }
  .card_tel {
    margin-bottom: 0;
  }
  .card_2 {
    display: none;
  }
  .card_3 {
    display: block;
  }
  .card_block_product {
    margin-bottom: 64px;
  }
  .cart {
    margin-top: 39px;
    margin-bottom: 96px;
  }
  .cart_item {
    min-height: 188px;
    margin-bottom: 32px;
  }
  .cart_item_description {
    padding: 13.5px 17px 38px 17px;
    font-size: 14px;
    line-height: 17px;
  }
  .cart_item_description_title {
    margin-bottom: 25.85px;
  }
  .cart_item_description_subtitle {
    margin-bottom: 4px;
  }
  .cart_button {
    margin-top: 30px;
  }
  .cart_button_btn {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 37px;
    text-transform: none;
  }
  .cart_right_checkout {
    margin-top: 48.5px;
  }
  .cart_item img {
    max-width: 143px;
  }
  .cart_button_btn:first-child {
    margin-right: auto;
  }
  .cart_right_checkout_line {
    width: 100%;
    max-width: 275px;
  }
  .quantity {
    width: 24px;
    height: 15px;
    font-size: 10px;
    line-height: 12px;
  }
  .quantity::-webkit-input-placeholder {
    font-size: 10px;
    line-height: 12px;
  }
  .quantity::-webkit-input-placeholder {
    font-size: 10px;
    line-height: 12px;
  }
  .quantity::-moz-placeholder {
    font-size: 10px;
    line-height: 12px;
  }
  .quantity:-moz-placeholder {
    font-size: 10px;
    line-height: 12px;
  }
  .quantity:-ms-input-placeholder {
    font-size: 10px;
    line-height: 12px;
  }
  .registration_form_input {
    width: 100%;
  }
  .search_input:focus {
    border: 2px solid blue;
    width: 130px;
    min-height: 30px;
    border: 2px solid #fff;
    outline: 3px solid blue;
  }
}
/*# sourceMappingURL=media.css.map */