@media (max-width: 768px) {
  .menu_container {
    max-width: 768px;
  }
  .banner {
    height: 367.57px;
    margin-bottom: 19.95px;
  }
  .banner_container {
    height: 367.57px;
  }
  .banner_top {
    font-size: 44px;
    line-height: 53px;
  }
  .banner_bottom {
    font-size: 24px;
    line-height: 29px;
  }
  .banner_text {
    padding-top: 138px;
    padding-left: 67px;
  }
  .banner_left {
    background-size: cover;
  }
  .banner_text::before {
    top: 138px;
    left: 45px;
  }
  .categories {
    max-width: 768px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .categories_box {
    width: 100%;
    max-width: 230px;
    min-height: 168px;
    margin: 0 18px 18px 0;
  }
  .categories_box:nth-child(3) {
    margin: 0 0 18px 0;
  }
  .categories_box:last-child {
    width: 100%;
    min-height: 116px;
    max-width: 768px;
    margin: 0 0 155px;
  }
  .card_block {
    max-width: 768px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .card_block_product {
    max-width: 768px;
    padding: 0 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .card {
    margin-bottom: 15px;
  }
  .card_button_block {
    margin-top: 18px;
    margin-bottom: 65px;
  }
  .privileges_container {
    max-width: 768px;
    margin-bottom: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .privilege {
    margin: 48px 0 0 0;
  }
  .subscribe_container {
    max-width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe {
    background-position: 23%;
  }
  .subscribe_left_avatar {
    margin-top: 54px;
  }
  .subscribe_right_block_title {
    margin-top: 48px;
  }
  .subscribe_right {
    margin-bottom: 140px;
  }
  .copyright_container {
    max-width: 768px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .title {
    width: 96%;
    max-width: 768px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .filter {
    width: 96%;
    max-width: 768px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .margin_right {
    margin: 0;
  }
  .card_none {
    display: none;
  }
  .pagination {
    margin-top: 25.5px;
    margin-bottom: 63.5px;
  }
  .foto_img {
    width: 466px;
    height: 565px;
  }
  .foto_container {
    padding-bottom: 29px;
    padding-top: 29px;
    height: 624px;
  }
  .description {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 500px) {
  .banner_left {
    width: 0%;
    background-image: none;
  }
  .banner_right {
    width: 100%;
  }
  .card_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 375px) {
  .menu_container {
    max-width: 375px;
  }
  .banner_left {
    width: 0%;
    background-image: none;
  }
  .banner_right {
    width: 100%;
  }
  .page_right_lk {
    display: none;
  }
  .page_right_basket {
    display: none;
  }
  .banner {
    height: 367.57px;
    margin-bottom: 64px;
  }
  .banner_top {
    font-size: 38px;
    line-height: 46px;
  }
  .banner_bottom {
    font-size: 20px;
    line-height: 24px;
  }
  .banner_text {
    padding-top: 148px;
    left: 83px;
  }
  .banner_text::before {
    top: 155px;
    height: 61px;
  }
  .categories {
    max-width: 375px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
  }
  .categories_box {
    max-width: 375px;
    min-height: 247px;
    margin: 0 0 32px 0;
  }
  .categories_box:nth-child(3) {
    margin: 0 0 32px 0;
  }
  .categories_box:last-child {
    min-height: 111px;
    width: 100%;
    max-width: 375px;
    margin: 0 0 64px;
  }
  .card_block {
    max-width: 375px;
  }
  .card {
    margin-bottom: 16.61px;
  }
  .card_button_block {
    margin-top: 25px;
    margin-bottom: 96.5px;
  }
  .privileges_container {
    width: 100%;
    max-width: 375px;
    margin-bottom: 81px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .privilege {
    margin: 48px 0 0 0;
  }
  .subscribe_container {
    max-width: 375px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe_left_avatar {
    margin-top: 54px;
  }
  .subscribe_right_block_title {
    margin-top: 59px;
  }
  .subscribe_right {
    margin-bottom: 110px;
  }
  .copyright_container {
    max-width: 375px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
  .copyright_left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 40px auto 0;
  }
  .copyright_right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
  }
  .title {
    width: 100%;
    max-width: 375px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title_left {
    margin-top: 24px;
  }
  .title_right {
    margin-bottom: 46px;
  }
  .filter {
    max-width: 100%;
    max-width: 375px;
    margin: 0 auto;
    min-height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter_btn > span {
    display: none;
  }
  .filter_btn > svg {
    width: 37px;
    height: 25px;
    margin-left: 0;
  }
  .filter_center_text {
    font-size: 12px;
    line-height: 14px;
  }
  .filter_center_size_button > span {
    font-size: 12px;
    line-height: 14px;
  }
  .margin_right {
    margin: 0;
  }
  .card_none {
    display: none;
  }
  .pagination {
    margin-top: 40.5px;
    margin-bottom: 64.5px;
  }
  .foto_container {
    padding-bottom: 85px;
    padding-top: 85px;
    height: 454px;
  }
  .foto_img {
    width: 374px;
    height: 454px;
  }
  .foto_bg_left {
    position: absolute;
    left: 0;
  }
  .foto_bg_right {
    position: absolute;
    right: 0;
  }
  .description {
    padding-left: 24px;
    padding-right: 24px;
  }
  .card_tel {
    margin-bottom: 0;
  }
  .card_2 {
    display: none;
  }
  .card_3 {
    display: block;
  }
  .card_block_product {
    margin-bottom: 64px;
  }
}
/*# sourceMappingURL=media.css.map */