* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.menu {
  min-height: 75px;
  width: 100%;
  padding: 0 32px 0 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
}

.menu_container {
  width: 96%;
  max-width: 1140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page_left_logo {
  width: 44px;
  height: 38px;
}

.page_left_logo:hover {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.page_left_logo:active {
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_label {
  display: block;
  padding-left: 41px;
  width: 26px;
  height: 26px;
  margin-top: 10px;
}

.search_input {
  display: block;
  width: 0;
  height: 0;
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  margin-top: 8px;
  margin-left: 10px;
  color: #fff;
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
}

.search_input:focus {
  border: 2px solid blue;
  width: 250px;
  min-height: 30px;
  border: 2px solid #fff;
  outline: 3px solid blue;
}

.page_left_lupa:hover {
  fill: orange;
}

.page_left_lupa:active {
  fill: red;
}

.page_left_lupa {
  width: 100%;
  height: 100%;
}

.page_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_right_list {
  width: 32px;
  height: 23px;
}

.page_right_list:hover {
  fill: orange;
}

.page_right_list:active {
  fill: red;
}

.menu_none_input {
  display: none;
}

.menu_none_list {
  display: none;
  position: absolute;
  width: 232px;
  min-height: 764px;
  padding: 16px 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  list-style: none;
  right: 0px;
  z-index: 20;
  margin-top: 25px;
}

.menu_none_list li {
  list-style-type: none;
}

.menu_none_input:checked ~ .menu_none_list {
  display: block;
}

.menu_none_close {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 170px;
}

.menu_none_close svg {
  fill: #6F6E6E;
  width: 13px;
  height: 13px;
}

.menu_none_close:hover svg {
  fill: #B7B6B6;
}

.menu_none_close:active svg {
  fill: #535353;
}

.menu_none_title {
  display: block;
  margin: 9px 0 24px 0;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.menu_none_item {
  margin-top: 9px;
  margin-bottom: 12px;
}

.menu_none_item_title {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.menu_none_item_subtitle {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 54,5px;
}

.menu_none_item_title:hover {
  color: #9889D7;
}

.menu_none_item_title:active {
  color: #9D2334;
}

.menu_none_sublist {
  padding-left: 21.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12px;
}

.menu_none_sublist_item {
  margin-bottom: 11px;
}

.menu_none_item_subtitle:hover {
  text-decoration: underline;
}

.menu_none_item_subtitle:active {
  text-decoration: none;
}

.page_right_lk svg {
  width: 29px;
  height: 29px;
  padding-left: 33px;
}

.page_right_lk:hover svg {
  fill: orange;
}

.page_right_lk:active svg {
  fill: red;
}

.page_right_basket {
  position: relative;
}

.page_right_basket svg {
  width: 32px;
  height: 29px;
  padding-left: 33px;
}

.page_right_basket span {
  display: block;
  width: 19px;
  height: 19px;
  position: absolute;
  background-color: #F16D7F;
  border-radius: 50%;
  color: #FFFFFF;
  left: 56px;
  top: -6px;
}

.page_right_basket:hover svg {
  fill: orange;
}

.page_right_basket:active svg {
  fill: red;
}

button {
  background-color: transparent;
  border: none;
}

svg {
  width: 100%;
  height: 100%;
  fill: #E8E8E8;
}

.banner {
  height: 764px;
  background: #F1E4E6;
  margin-bottom: 65px;
}

.banner:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.banner_container {
  width: 96%;
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.banner_left {
  background-image: url(../img/men.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.banner_right {
  width: 50%;
  text-transform: uppercase;
  position: relative;
}

.banner_text {
  font-style: normal;
  padding-top: 290px;
  padding-left: 88px;
  font-family: "Lato";
}

.banner_text::before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  position: absolute;
  top: 290px;
  left: 65px;
}

.banner_top {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.banner_bottom {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.banner_bottom_pink {
  color: #F16D7F;
}

.categories {
  width: 96%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.categories_box {
  width: 360px;
  min-height: 260px;
  margin: 0 30px 30px 0;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories_box_text {
  margin: auto;
}

.categories_box:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/women.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/women.png);
  background-repeat: no-repeat;
  background-position: center;
}

.categories_box:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/mens.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/mens.png);
  background-repeat: no-repeat;
  background-position: center;
}

.categories_box:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/kids.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/kids.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 30px;
}

.categories_box:last-child {
  width: 100%;
  min-height: 180px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/accesories.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/accesories.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 0 96px;
}

.categories_box_top {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19,2px;
  text-align: center;
  color: #FFFFFF;
  display: block;
}

.categories_box_bottom {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.card_block {
  text-align: center;
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card_block_product {
  text-align: center;
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 128px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 360px;
  margin-bottom: 48.5px;
}

.card_box {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_text {
  text-align: left;
  padding-top: 25.35px;
  padding-left: 18px;
  padding-bottom: 20px;
  padding-right: 28.8px;
  background-color: #F8F8F8;
}

.card_name {
  display: block;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card_description {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12.65px;
  margin-bottom: 18px;
}

.card_price {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.card_one a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_title_top {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.card_title_bottom {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.card_button_block {
  margin-bottom: 95.5px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card_button_block > a {
  text-decoration: none;
}

.pagination {
  margin-bottom: 96px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 282.91px;
  min-height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EBEBEB;
  list-style: none;
}

.pagination_arrow {
  display: block;
  text-decoration: none;
}

.pagination_arrow svg {
  width: 100%;
  height: 100%;
  fill: black;
}

.pagination_arrow:hover svg {
  fill: cornflowerblue;
}

.pagination_arrow svg {
  width: 100%;
  height: 100%;
  fill: black;
}

.pagination_arrow:hover svg {
  fill: cornflowerblue;
}

.pagination_number {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  text-decoration: none;
}

.pagination_number_one {
  color: #EF5B70;
}

.pagination_number:hover {
  color: #EF5B70;
}

.card_button {
  display: block;
  position: relative;
  width: 211px;
  background-color: #fff;
  border: 2px solid #F26376;
  color: #F26376;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19,2px;
  text-align: center;
  word-break: break-all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14.5px;
}

.card_button_none {
  display: none;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card_button:hover {
  background-color: #F26376;
  color: #fff;
}

.card_button:active {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.card_button_none svg {
  fill: #fff;
  margin: 0 11px 0 0;
  width: 27px;
  height: 25px;
}

.card_one:hover .card_button_none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_one:hover .card_button_none:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
}

.card_one:hover .card_button_none:hover svg {
  fill: black;
}

.card_one:hover .card_button_none:active {
  border: 1px solid #FFFFFF;
  background: transparent;
  color: #FFFFFF;
}

.card_one:hover .card_button_none:active svg {
  fill: #fff;
}

.card_one:hover .card_one_img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.privileges {
  width: 100%;
  min-height: 341px;
  background-color: #222224;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privileges_container {
  width: 96%;
  max-width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privilege {
  width: 100%;
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.privilege_icon1 {
  width: 46px;
  height: 32px;
  fill: #F16D7F;
  margin-bottom: 8px;
}

.privilege_icon2 {
  width: 40px;
  height: 40px;
  fill: #F16D7F;
}

.privilege_icon3 {
  width: 48px;
  height: 35px;
  fill: #F16D7F;
  margin-bottom: 5px;
}

.privilege_title {
  display: block;
  font-family: "Lato";
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28.07px;
  margin-bottom: 16px;
}

.privilege_subtitle {
  font-weight: 300;
  font-family: "Lato";
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe {
  width: 100%;
  min-height: 448px;
  background-image: url(../img/back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe_container {
  width: 96%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe_left_avatar {
  background-image: url(../img/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 96px;
  height: 96px;
  margin: 97px auto 30px auto;
}

.subscribe_left_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  max-width: 359.45px;
  margin: 0 auto;
}

.subscribe_right_block {
  margin: 0 auto;
  width: 100%;
  max-width: 557px;
  min-height: 61px;
  margin-bottom: 32px;
}

.subscribe_right_block_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  margin-top: 150px;
}

.subscribe_right_block_subtitle {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}

.subscribe_right_form {
  margin: 0 auto;
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe_right_form_email {
  border: none;
  border-radius: 20px 0 0 20px;
  background-color: #E1E1E1;
  font-style: normal;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 16,8px;
  color: #222224;
  opacity: 0.67;
  padding: 20px;
  width: 256px;
}

.subscribe_right_form_button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16,8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 20px;
  width: 100px;
}

.cursiv {
  font-family: "Lato";
  font-style: italic;
}

.copyright {
  width: 100%;
  min-height: 79px;
  background-color: #222224;
}

.copyright_container {
  width: 96%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.copyright_left {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-top: 30px;
  margin-bottom: 30px;
}

.copyright_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 148px;
}

.copyright_right_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.copyright_right_icon svg {
  fill: #000;
}

.facebook {
  width: 11px;
  height: 16px;
}

.instagram {
  width: 16px;
  height: 15px;
}

.pp {
  width: 13px;
  height: 16px;
}

.twitter {
  width: 17px;
  height: 14px;
}

.copyright_right_icon:hover {
  background-color: #F16D7F;
  fill: #fff;
}

.copyright_right_icon:hover svg {
  fill: #fff;
  background-color: #F16D7F;
}

.title {
  width: 96%;
  max-width: 1140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.title_container {
  background-color: #F8F3F4;
}

.title_left {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.title_right {
  list-style: none;
  display: block;
}

.title_right li {
  display: inline;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.title_right a::after {
  padding: 0 0 0 3px;
  color: #636363;
  content: " /\00a0";
}

.title_right li a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.title_right li a:hover {
  color: #F16D7F;
  text-decoration: underline;
}

.filter {
  max-width: 63%;
  min-height: 132px;
  padding-left: 2%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.filter_container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.filter_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter_center_text {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  margin-right: 10px;
}

.filter_center_icon {
  width: 10px;
  height: 5px;
  fill: #6F6E6E;
  margin-right: 28px;
}

.filter_center_icon_size {
  position: relative;
}

#filter {
  display: none;
}

#filter:checked ~ .filter_list {
  display: block;
}

.filter_button {
  display: block;
  width: 100%;
  padding-left: 20px;
  padding-right: 304px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 11px;
}

.filter_btn span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}

.filter_btn svg {
  width: 15px;
  height: 10px;
  margin: 0 0 0 11px;
  fill: black;
}

.filter_btn:hover {
  color: #F16D7F;
}

.filter_btn:hover svg {
  fill: #F16D7F;
}

.filter_btn:active {
  color: #222224;
}

.filter_btn:active svg {
  fill: #222224;
}

.filter_list {
  display: none;
  list-style: none;
  position: absolute;
  z-index: 10;
  background-color: #FFFFFF;
  width: 360px;
  height: 531px;
  margin-top: 600px;
}

.filter_list_item {
  width: 100%;
  margin: 0 0 18px 0;
  padding: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
}

.filter_list_item:before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #EF5B70;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.filter_list_item a {
  text-transform: uppercase;
  color: #EF5B70;
  text-decoration: none;
}

.filter_list_item:hover:before {
  background-color: red;
}

.filter_list_item:hover a {
  color: red;
}

.filter-list-item:active:before {
  background-color: #ccc;
}

.filter_list_item:active a {
  color: #ccc;
}

.filter_sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.filter_sublist_item {
  margin: 0 0 11px 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
}

.filter_sublist_item:last-child {
  margin: 0 0 24px 0;
}

.filter_sublist_item a {
  color: #6F6E6E;
  text-decoration: none;
}

.filter_sublist_item:hover a {
  color: #EF5B70;
}

.filter_sublist_item:active a {
  color: #000;
}

.filter_center_size {
  width: 80px;
  border: none;
  background-color: transparent;
  position: relative;
}

.filter_center_size_button {
  display: block;
  width: 100%;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.filter_center_size_button svg {
  width: 10px;
  height: 5px;
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 50%;
}

.filter_center_size_button:hover {
  color: #F16D7F;
}

.filter_center_size_button:hover svg {
  fill: currentColor;
}

.filter_center_size_button:active {
  color: black;
}

.filter_center_size_button:active svg {
  fill: currentColor;
}

#size {
  display: none;
}

#size:checked ~ .list_size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list_size {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  z-index: 10;
}

.list_size_input {
  display: none;
}

.list_size_input:nth-child(1):checked ~ .list_size_input_title:nth-child(2):before,
.list_size_input:nth-child(3):checked ~ .list_size_input_title:nth-child(4):before,
.list_size_input:nth-child(5):checked ~ .list_size_input_title:nth-child(6):before,
.list_size_input:nth-child(7):checked ~ .list_size_input_title:nth-child(8):before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png");
  background-size: cover;
  background-position: center;
}

.list_size_input_title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}

.list_size_input_title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}

.foto_container {
  background-color: #F7F7F7;
  padding-bottom: 42px;
  padding-top: 11px;
  height: 777px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foto_img {
  display: block;
  max-width: 597px;
  margin: 0 auto;
}

.foto_icon {
  display: block;
  width: 12.4px;
  height: 21.7px;
  fill: black;
  margin: auto;
}

.foto_bg:hover .foto_icon {
  fill: #F16D7F;
}

.foto_bg:active .foto_icon {
  fill: white;
}

.foto_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}

.description {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 64.54px;
  padding-bottom: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 129px;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.description_title {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.description_line {
  display: block;
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 12px;
}

.description_name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
  margin-bottom: 48.41px;
}

.description_text {
  width: 100%;
  max-width: 555px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 32.27px;
}

.description_price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.description_border {
  display: block;
  width: 56%;
  border: 1px solid #EAEAEA;
  margin: 0 auto;
  margin-bottom: 65px;
}

.description_variety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 49px;
}

.description_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 211px;
  padding-top: 14.62px;
  padding-bottom: 14.62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #EF5B70;
  background: transparent;
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  line-height: 19px;
  color: #EF5B70;
  -ms-flex-item-align: center;
      align-self: center;
}

.description_button svg {
  fill: #EF5B70;
  margin: 0 23px 0 0;
  width: 26px;
  height: 24px;
}

.description_button:hover {
  background-color: #EF5B70;
  color: #FFFFFF;
  border: 1px solid #EF5B70;
}

.description_button:hover svg {
  fill: #FFFFFF;
}

.description_button:active {
  border: 1px solid #EF5B70;
  background: #fadfe4;
  color: #EF5B70;
}

.description_button:active svg {
  fill: #ef605b;
}

.cart {
  width: 96%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 96px;
}

.cart_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  min-height: 306px;
  position: relative;
  -webkit-box-shadow: 20px 20px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 20px 16px rgba(0, 0, 0, 0.1);
}

.cart_item_description {
  width: 100%;
  max-width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 22px 62px 31px;
}

.cart_item_description_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.cart_item_description_subtitle {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.cart_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72.5px;
  margin-bottom: 128.5px;
}

.cart .cart_left {
  width: 100%;
  max-width: 652px;
}

.cart_item img {
  width: 100%;
  height: 100%;
  max-width: 262px;
  max-height: 306px;
}

.quantity {
  width: 44px;
  height: 25px;
  border: 1px solid #EAEAEA;
  text-align: center;
  margin-left: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}

.cart_button_btn {
  display: block;
  padding: 17px 40px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #000000;
}

.cart_button_btn:hover {
  background-color: #F16D7F;
  color: white;
  border: 1px solid white;
}

.cart_button_btn:active {
  background-color: white;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.cart_list img {
  width: 262px;
  height: 306px;
}

.pink {
  color: #F16D7F;
}

.exit {
  display: block;
  position: absolute;
  right: 22px;
  top: 28px;
}

.exit svg {
  fill: #575757;
  width: 18px;
  height: 18px;
}

.exit:hover svg {
  fill: #F16D7F;
}

.exit:active svg {
  fill: black;
}

.cart_right {
  width: 100%;
  max-width: 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart_right_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart_right_form_cont {
  width: 360px;
}

.cart_right_form_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.cart_right_form_input1 {
  display: block;
  width: 100%;
  max-width: 358px;
  border: 1px solid #A4A4A4;
  padding: 13px 0 16px 17.24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 21px;
}

.cart_right_form_input {
  width: 100%;
  max-width: 358px;
  border: 1px solid #A4A4A4;
  padding: 12px 0 16px 17px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.cart_right_form_label {
  position: absolute;
  z-index: 2;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  top: 13px;
  left: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  background: white;
}

.cart_right_form_button {
  width: 101px;
  margin-top: 5px;
  padding: 9px 13px 11px 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
}

.input_adress {
  position: relative;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 21px;
}

.cart_right_form_input:invalid + .cart_right_form_label {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cart_right_form_input:focus {
  border-color: #F16D7F;
}

.cart_right_form_input + .cart_right_form_label {
  color: #222222;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.cart_right_form_input1::-webkit-input-placeholder {
  color: #B1B1B1;
}

.cart_right_form_input1::-webkit-input-placeholder {
  color: #B1B1B1;
}

.cart_right_form_input1::-moz-placeholder {
  color: #B1B1B1;
}

.cart_right_form_input1:-moz-placeholder {
  color: #B1B1B1;
}

.cart_right_form_input1:-ms-input-placeholder {
  color: #B1B1B1;
}

.quantity::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
}

.quantity::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
}

.quantity::-moz-placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
}

.quantity:-moz-placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
}

.quantity:-ms-input-placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
}

.cart_right_form_button:hover {
  background-color: #F16D7F;
  color: white;
  border: 1px solid white;
}

.cart_right_form_button:active {
  background-color: white;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.cart_right_form_input:focus {
  outline: none;
  border: 2px solid #F16D7F;
}

.cart_right_form_input1:focus {
  outline: none;
  border: 2px solid #F16D7F;
}

.cart_right_checkout {
  display: block;
  width: 100%;
  max-width: 360px;
  padding: 39px 34px 42px 34px;
  background-color: #F5F3F3;
  margin-top: 57.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart_right_checkout_sum {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
  text-transform: uppercase;
}

.cart_right_checkout_sum2 {
  display: block;
  margin-top: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
  text-transform: uppercase;
}

.cart_right_checkout_line {
  margin: 0 auto;
  margin-top: 21px;
  color: #E2E2E2;
  size: 1px;
  width: 275px;
}

.cart_right_checkout_button {
  display: block;
  margin-top: 17px;
  margin: 0 auto;
  margin-top: 17px;
  padding: 15px 43px 16px 41px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: right;
  text-transform: uppercase;
  background-color: #F16D7F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart_right_checkout_button:hover {
  color: #4A4A4A;
  background-color: transparent;
  border: 1px solid #4A4A4A;
}

.cart_right_checkout_button:active {
  color: #4A4A4A;
  background-color: #F16D7F;
  border: 1px solid #4A4A4A;
}

.space {
  padding-left: 20px;
}

.registration_container {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration_form {
  display: block;
  margin-right: 22px;
}

.registration_form_text {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration_form_input {
  display: block;
  width: 360px;
  margin-bottom: 20px;
  padding: 12.5px 0 15.5px 17px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration_form_submit {
  display: block;
  width: 167px;
  padding: 16px 0 17px 0;
  background-color: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: 1px solid #F16D7F;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration_form_note {
  max-width: 360px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: -5px;
  margin-bottom: 39px;
}

.registration_form_radio {
  margin-top: 31px;
  margin-bottom: 33px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration_form_input::-webkit-input-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration_form_input::-webkit-input-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration_form_input::-moz-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration_form_input:-moz-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration_form_input:-ms-input-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration_form_radio input {
  margin-right: 10px;
}

.registration_form_radio label {
  margin-right: 20px;
}

.registration_form_submit:hover {
  color: #4A4A4A;
  background-color: transparent;
  border: 1px solid #4A4A4A;
}

.registration_form_submit:active {
  color: #4A4A4A;
  background-color: #F16D7F;
  border: 1px solid #4A4A4A;
}

.registration_form_icon {
  width: 17px;
  height: 10px;
  fill: #FFFFFF;
  margin-left: 20px;
}

.registration_form_submit:hover .registration_form_icon {
  fill: #4A4A4A;
}

.registration_form_submit:active .registration_form_icon {
  fill: #4A4A4A;
}

.registration_article {
  max-width: 652px;
}

.registration_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
}

.registration_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 22px;
  margin-bottom: 21px;
}

.registration_list {
  list-style-image: url(../img/galka.svg);
  margin-left: 23px;
}

.registration_list li {
  margin-bottom: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-left: 23px;
}
/*# sourceMappingURL=style.css.map */